<div class="row intro">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    My name is Connor Redmond. I am from Long Island and currently live in Greenville, SC.
    I'm a backend web developer who enjoys creating and optimizing web apps.
  </div>
</div>

<div class="row bio">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <p>Web design will never cease to intrigue me. It is a wonderful balance of science and art. My goal, each day, is to grow as a developer in any way I can.</p>
    <p>I spent the first 24 years of my life living on Long Island. In 2015 I graduated from Stony Brook University with a degree in history, with which I am doing nothing.
    Long Island was a great place to grow up, but wasn't the best atmosphere for a young adult looking to change career paths.
    After applying to numerous jobs, and realizing I didn't want any of them, I decided to pursue a career in web development.
    </p>
    <p>July of last year, my family and I moved to Greenville, SC to avoid the taxes and prices of the northeast. I have embraced the challenges and adventures of moving to a different part of the country.
    Over the past few months I have learned what I want in life, and how to obtain it. Equally important, I've removed things from my life that I don't want, or need.</p>
    <p>I'm enjoying my time as a freelance programmer but I am looking to obtain a full time position. I've learned that surrounding myself with other ambitious people leads to the most personal growth.
    </p>
  </div>
</div>
