<div class="row intro">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    My name is Connor Redmond. I am from Long Island and currently live in Greenville, SC.
    I'm a backend web developer who enjoys creating and optimizing web apps.
  </div>
</div>

<div class="row bio">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu molestie tortor. Nam eu est vel orci accumsan tincidunt. Ut dignissim ligula quis pulvinar placerat. Vivamus non venenatis elit, ut fermentum ex.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu molestie tortor. Nam eu est vel orci accumsan tincidunt. Ut dignissim ligula quis pulvinar placerat. Vivamus non venenatis elit, ut fermentum ex. Fusce elementum faucibus eros pulvinar venenatis. Donec vel nisi vel felis ornare pretium scelerisque nec quam. Fusce vel mi sapien. Aliquam sed feugiat velit. Etiam dignissim elit in fermentum eleifend. Proin et metus at augue lacinia venenatis nec eget mi.</p>
  </div>
</div>
