<div class="row intro">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    Connor Redmond is a web developer based in Greenville. <br>
    He's currently freelancing with local businesses.
  </div>
</div>
<div class="row projects">
  <div class="col-md-3"></div>
  <div class="col-md-2 left-writing">
    CURRENTLY
  </div>
  <div class="col-md-4">
    Freelance web development, learning React.js and losing as much weight as possible by May 3rd.
  </div>
</div>
<div class="row projects">
  <div class="col-md-3"></div>
  <div class="col-md-2 left-writing">
    PROJECTS
  </div>
  <div class="col-md-4">
    <a href="http://begincount.com">BeginCount</a> <br>
    <span class="project-desc">Python, Django, Lightsail</span>  <br> <br>
    <a href="https://secure-plains-93842.herokuapp.com/">Notebook on Rails</a> <br>
    <span class="project-desc">Ruby, Rails, Heroku</span> <br> <br>
    <a href="https://polar-caverns-84669.herokuapp.com/image/8/">Imgur Clone</a>  <br>
    <span class="project-desc">Python, Django, Heroku </span><br>
  </div>
</div>
<div class="row projects">
  <div class="col-md-3"></div>
  <div class="col-md-2 left-writing">
    RECENT ACTIVITY
  </div>
  <div class="col-md-4">
    <p>Backend intern at Tembo Education.</p>
    <p>Taught myself Ruby on Rails.</p>
    <p>Created sample apps with full stack of Django and React.</p>

  </div>
</div>
